body {
    background-color: rgb(2, 82, 11);
    text-align: center;
    margin: 0 auto;

}

.retangle-box{
    background-color: rgb(250, 247, 247);
    height: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    border: solid 10px;
    width: 350px;
    margin-top: 20px;
    
}

img {
    
    margin: 0 auto;
    height: 450px;
    margin-top: 50px;
    border: solid 10px;
}

 .retangle-box1 {
    background-color: rgb(3, 3, 3);
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 250px;
    border-radius: 100px;
    }

.logo{
   height: 200px;
   border-radius: 150px;
   border: solid 10px white;
    
}
.quadrado-box{
    background-color: rgba(14, 13, 13, 0.795);
    height: 560px;
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    border-radius: 25px;
    text-align: center;
    border: solid 10px white;
    
}

header{
    height: 560px;
    margin-top: 30px;
    background-color: rgba(251, 253, 253, 0.678);

}

h3{
    margin-top: 10px;
    color: aliceblue;
}

.retangle-box4{
border-radius: 25px;
margin-top: 30px;
background-color: rgb(251, 253, 253);
height: 150px;
width: 300px;
margin-inline: 50px;
}

p{
    margin-inline: 50px;
    margin-top: 0px;
    
}
.botão{
    margin-top: 50px;
    height: 150px;
    width: 150px;
    background-color: rgba(252, 252, 252, 0.815);
    text-align: center;
    margin-inline: 170px;
    border-radius: 290px;
    

}